* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #454546;
    --color-secondary: #666666;
    --color-tertiary: #8c8c8c;
    --color-complementary-1: #e8c39e;
    --color-complementary-2: #f5e1c8;

    --color-font-1: #060102;
    --color-font-2: #362d2e;
    --color-font-3: #5e5b60;
    --color-font-4: #ffffff;
    --color-font-5: #a77243;

}

body {
    background-color: var(--color-tertiary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hero {
    background: var(--color-primary);
    width: 100%;
    height: 80px;
    position: relative;
}

.navbar {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.hero__img__header {
    width: 90px;
    float: left;
    margin-top: 10px;
}

.navbar .hero__menu {
    float: right;
    line-height: 70px;
}

.navbar .hero__menu a {
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    text-decoration: none;
    color: var(--color-font-4);
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}

.navbar .hero__menu a:hover {
    color: var(--color-complementary-1);
    border-bottom: 2px solid var(--color-complementary-1);
    padding: 5px 10px;
}

.hero__img {
    width: 100%;
    height: 90vh;
}

.hero__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

span {
    color: var(--color-complementary-1);
}

/* Section Profile */

.profile div {
    position: absolute;
}

.profile {
    display: flex;
    justify-content: center;
}

.square {
    width: 320px;
    height: 450px;
    /* background-color: var(--color-tertiary); */
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    opacity: 0.3;
    z-index: 10;
    top: 100px;
}

.square2 {
    width: 320px;
    height: 450px;
    background-color: var(--color-tertiary);
    border-radius: none;
    transition: all .2s;
    z-index: 10;
}

.square2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.square:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 12px var(--color-primary);
    z-index: 21;
    top: 140px;
}

.profile__img {
    top: 154px;
    z-index: 20;
}

.profile__img img {
    width: 202px;
    height: 202px;
    border-radius: 50%;
    object-fit: cover;
}

.square__text {
    font-size: 1.2rem;
    color: var(--color-font-4);
    top: 380px;
    z-index: 11;
}

.square__text__2 {
    font-size: 1.1rem;
    color: var(--color-complementary-1);
    top: 418px;
    z-index: 12;
}

.square__text__3 {
    font-size: .9rem;
    color: var(--color-font-1);
    top: 500px;
    z-index: 13;
}

.square__text__3 a {
    color: var(--color-font-2);
    text-decoration: none;
}

.contact__icon {
    top: 450px;
    z-index: 11;
}

.contact__icon i {
    font-size: 1.8rem;
    color: var(--color-font-3);
    margin: 0 10px;
}

.contact__icon i:hover {
    color: var(--color-font-4);
    transform: scale(1.3);
    transition: .3s;
}

.square__text__3:hover {
    border-bottom: 2px solid var(--color-complementary-1);
}

/* Briefcase */

.briefcase {
    /* background-color: var(--color-tertiary); */
    background: linear-gradient(225deg, #4F5358, #C5C7C7);
    padding-bottom: 110px;
}

.briefcase__section h2 {
    padding: 40px;
    text-align: center;
}

.briefcase__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    gap: 15px;
    width: 80%;
    margin: 0 auto;
}

.briefcase__grid img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.briefcase__grid .project:hover {
    transform: scale(1.1);
}

/* Skills */

.skills {
    /*  background-color: var(--color-primary); */
    /* background: linear-gradient(45deg, #454546, #8c8c8c); */
    /* background-color: var(--color-secondary); */
    background-image: url('/assets/img/Shiny\ Overlay.png');
    background-size: cover;
    /*     height: 100vh; */
}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    gap: 150px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 110px;
}

.skill h2 {
    padding-top: 30px;
    padding-bottom: 60px;
}

.skill img {
    width: 90px;
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, auto));
    justify-content: center;
    gap: 25px;
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, auto));
    justify-content: center;
    gap: 50px;
}

.skill h3 {
    background-color: var(--color-font-3);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    width: 100px;
    color: var(--color-font-4);
    opacity: 0;
    transform: translate(0px, -100px);
    transition: transform .4s ease, opacity .4s ease;
}

.knowledge>div:hover h3,
.tools>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -130px);
}

/* about */

.about {
    /* background-color: var(--color-secondary); */
    background-image: url('/assets/img/Polygon\ Luminary.png');
    background-size: cover;
    /* height: 90vh; */
}

.about__flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0 100px;
}

.about p {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    line-height: 2.1rem;
    color: var(--color-font-4);
}

.social {
    border-left: var(--color-font-1) 3px solid;
    padding: 0 50px;
}

.social i {
    font-size: 2.1rem;
    color: var(--color-tertiary);
    margin: 10px 10px;
}

.social i:hover {
    transform: scale(1.2)
}

footer {
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-complementary-2);
    padding: 30px 0;
}

/* Code repository */

.code__repo {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.code__repo a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

.code__repo img {
    width: 30px;
}

.code__repo img:hover {
    transform: scale(1.2);
}

.code__repo span:hover {
    color: var(--color-font-4);
}

/* modals */

.eins-modal-content {
    min-width: 700px;
    background-image: url('/assets/img/backgrounds/Arcade.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 350px;
    background-color: #1c1b2b;
}

.eins-modal-preview {
    width: 330px;
    height: 186px;
    margin: auto auto;
}

.eins-modal-preview img {
    width: 100%;
    height: 100%;
    padding: 0 50px 20px 0;
}

.pw__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.eins-modal-text p {
    font-size: 1.1rem;
    color: var(--color-font-4);
}

.eins-modal-text-2 {
    padding: 80px 0 10px;
}

.eins-modal-text-2 a {
    color: #69e0d9;
    margin: 5px;
}

.eins-modal-tech img {
    width: 30px;
}