* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #454546;
    --color-secondary: #666666;
    --color-tertiary: #8c8c8c;
    --color-complementary-1: #e8c39e;
    --color-complementary-2: #f5e1c8;

    --color-font-1: #060102;
    --color-font-2: #362d2e;
    --color-font-3: #5e5b60;
    --color-font-4: #ffffff;
    --color-font-5: #a77243;

}

body {
    background-color: var(--color-tertiary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    background: var(--color-primary);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.navbar {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hero__img__header {
    width: 90px;
    margin-top: 10px;
}

.hero__menu {
    margin-top: 10px;
    display: flex;
}

.hero__menu a {
    padding: 15px 10px;
    line-height: normal;
    text-decoration: none;
    color: var(--color-font-4);
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}


.hero__menu a:hover {
    color: var(--color-complementary-1);
    border-bottom: 2px solid var(--color-complementary-1);
    padding: 5px 10px;
}

.nav-toggle {
    font-size: 32px;
    color: var(--color-font-4);
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}


.section2 {
    width: 100%;
    height: 100vh;
}

.hero__img {
    width: 100%;
    height: 100vh;
}

.hero__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

span {
    color: var(--color-complementary-1);
}


/* Section Profile */

.profile div {
    position: absolute;
}

.profile {
    display: flex;
    justify-content: center;
}

.square {
    width: 320px;
    height: 450px;
    /* background-color: var(--color-tertiary); */
    background-image: linear-gradient(163deg, #c8c8c7 0%, #8d9295 100%);
    border-radius: 20px;
    transition: all .3s;
    opacity: 0.3;
    z-index: 10;
    top: 100px;
}

.square2 {
    width: 320px;
    height: 450px;
    background-color: var(--color-tertiary);
    border-radius: none;
    transition: all .2s;
    z-index: 10;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 12px var(--color-primary);
    z-index: 21;
    top: 140px;
}

.profile__img {
    background: white;
    top: 154px;
    z-index: 20;
}

.profile__img img {
    width: 202px;
    height: 202px;
    border-radius: 50%;
    object-fit: cover;
}

.square__text {
    font-size: 1.2rem;
    color: var(--color-font-4);
    top: 380px;
    z-index: 11;
}

.square__text__2 {
    font-size: 1.1rem;
    color: var(--color-complementary-1);
    top: 418px;
    z-index: 12;
}

.contact__icon {
    top: 450px;
    z-index: 11;
}

.contact__icon i {
    font-size: 1.8rem;
    color: var(--color-font-3);
    margin: 0 10px;
}

.contact__icon i:hover {
    color: var(--color-font-4);
    transform: scale(1.3);
    transition: .3s;
}

.square2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.square:hover {
    box-shadow: 0px 0px 30px 1px rgba(197, 199, 196, 1);
}

/* Briefcase */

.briefcase {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(225deg, #4F5358, #C5C7C7);
}

.slide-container {
    max-width: 1120px;
    width: 100%;
}

.slide-container h2 {
    text-align: center;
    padding-bottom: 50px;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    padding: 45px 0;
}

.card-image {
    width: 300px;
    height: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    transition: all .4s;
    margin: auto auto;
}

.card-image::before {
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 120px;
    color: var(--color-font-1);
    font-size: 0.8em;
    font-weight: 700;
}

.card1::before {
    content: 'RPG Game';
}

.card2::before {
    content: 'e-Comerce';
}

.card3::before {
    content: 'Weather App';
}

.card-image div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: #fff;
    margin: auto auto;
}

.card-image:hover div {
    transform: translateY(-30px);
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.card-image:hover {
    transform: scale(1.1);
}

.swiper-navBtn {
    color: var(--color-secondary);
    transition: color .3s ease;
}

.swiper-navBtn:hover {
    color: var(--color-primary);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    padding-top: 45px;
    right: 0;
}

.swiper-button-prev {
    padding-top: 45px;
    left: 0;
}

.swiper-pagination-bullet {
    background-color: var(--color-secondary);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

@media screen and(max-width: 768px) {
    .slide-content {
        margin: 0 10px
    }

    .swiper-navBtn {
        display: none;
    }
}

/* Skills */

.skills {
    background-image: url('/assets/img/Shiny\ Overlay.png');
    background-size: cover;
    padding-top: 100px;
}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    gap: 150px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 110px;
}

.skill h2 {
    padding-top: 30px;
    padding-bottom: 60px;
}

.skill img {
    width: 90px;
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, auto));
    justify-content: center;
    gap: 25px;
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, auto));
    justify-content: center;
    gap: 50px;
}

.skill h3 {
    background-color: var(--color-font-3);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    width: 100px;
    color: var(--color-font-4);
    opacity: 0;
    transform: translate(0px, -100px);
    transition: transform .4s ease, opacity .4s ease;
}

.knowledge>div:hover h3,
.tools>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -130px);
}

/* about */

.about {
    /* background-color: var(--color-secondary); */
    background-image: url('/assets/img/Polygon\ Luminary.png');
    background-size: cover;
    /* height: 90vh; */
}

.about__flex {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 60px 50px 100px;
}

.about p {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    line-height: 1.8rem;
    color: var(--color-font-1);
}

footer {
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-complementary-2);
    padding: 30px 0;
}

/* Code repository */

.code__repo {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.code__repo a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

.code__repo img {
    width: 30px;
}

.code__repo img:hover {
    transform: scale(1.2);
}

.code__repo span:hover {
    color: var(--color-font-4);
}

/* modals */

.eins-modal-content {
    max-width: 700px;
}

#pw__RPG_game .eins-modal-content {
    background-color: #1c1b2b;
}

#pw__E__comerce .eins-modal-content {
    background-color: #3da7fe;
}

#pw__App__Clima .eins-modal-content {
    background-color: #1e252b;
}

.eins-modal-preview {
    max-width: 350px;
    width: 90%;
    margin: auto auto;
}

.eins-modal-preview img {
    width: 100%;
    padding: 0 50px 20px 0;
}


.pw-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 350px;
    object-fit: cover;
}

#pw__RPG_game .pw-content {
    background-image: url('/assets/img/backgrounds/Arcade.gif');
}

#pw__E__comerce .pw-content {
    background-image: url('/assets/img/backgrounds/ecommerce.gif');
}

#pw__App__Clima .pw-content {
    background-image: url('/assets/img/backgrounds/clima2.gif');
}

.eins-modal-text {
    margin: auto auto;
}

.eins-modal-text p {
    font-size: 1.1rem;
    color: var(--color-font-4);
}

.eins-modal-text-2 {
    padding: 80px 0 10px;
}

.eins-modal-text-2 img {
    width: 30px;
}

.eins-modal-text-2 a {
    color: #69e0d9;
    margin: 5px;
}

.eins-modal-tech img {
    width: 30px;
}

/* formStyles */
form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

label {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* From uiverse.io by @alexruix */
.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .4rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover,
textarea:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

/* From uiverse.io by @adamgiebl */
.button {
    width: 110px;
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.button span {
    color: white;
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.button:hover span {
    transform: translateX(5em);
}

.button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

@media (max-width: 768px) {
    .header {
        height: 60px;
    }

    .hero__img__header {
        margin-top: 0px;
    }


    .hero__menu {
        margin: auto 0;
    }

    .hero__menu {
        flex-direction: column;
        margin-right: 30px;
        background-color: var(--color-tertiary);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;
        padding: 10px 0;
        opacity: .8;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left .6s;
    }

    .hero__menu a {
        color: var(--color-font-1);
    }

    .nav-toggle {
        display: block;
    }

    .hero__menu__visible {
        left: 0;
    }

}

@media (max-width: 654px) {
    #pw__RPG_game .pw-content {
        background-image: none;
    }

    #pw__E__comerce .pw-content {
        background-image: none;
    }

    #pw__App__Clima .pw-content {
        background-image: none;
    }
}